<% mrbs_link = "https://resources.ideate.cmu.edu/reservations/week.php?area=#{@mrbs_area}".concat(@mrbs_room ? "&room=#{@mrbs_room}" : "") %>

<% case @room.upcase()
    when "A10A" %>
      <p>
        Authorized users can
        <%= link_to "reserve #{@room_full_name} directly", mrbs_link, target: '_blank' %>;
        others should email <%= link_to 'help@ideate.cmu.edu', 'mailto:help@ideate.cmu.edu', target: '_blank' %>.
        If you believe you should have reservation privileges but do not,
        please email <%= link_to 'help@ideate.cmu.edu', 'mailto:help@ideate.cmu.edu', target: '_blank' %>
        with details.
      </p>
  <% when "A5", "A10", "106B", "106C" %>
      <p>
        To reserve <%= @room_full_name %>,
        please email <%= link_to 'help@ideate.cmu.edu', 'mailto:help@ideate.cmu.edu', target: '_blank' %>.
      </p>
  <% when "A29" %>
    <% if can? :read, :lending_shift_schedule %>
      <p>
        This is the public page for Lending Desk hours.
        You can also view the <%= link_to 'internal shift schedule', lending_schedule_shifts_path %>.
      </p>
    <% end %>
<% end %>



<iframe src="<%= mrbs_link %>" name="formEmbed-Test_Form" width="100%" height="1000px" frameborder="0" scrolling="auto"></iframe>
