<p>
  Welcome to the IDeATe Quartermaster!
  <% if not user_signed_in? %>
    <strong>Log in to get started.</strong>
  <% end %>
</p>

<% if can? :manage, :legacy_lending %>
  <h2>Lending Operators
  <div class="btn-group" role="group">
    <%= link_to 'Access the Lending Application', lending_path, role: 'button', class: 'btn btn-primary' %>
    <%= link_to 'Lend item', lending_lend_path, role: 'button', class: 'btn btn-default' %>
    <%= link_to 'Return item', lending_return_path, role: 'button', class: 'btn btn-default' %>
  </div>
  </h2>

  <ul>
    <li><%= link_to 'Browse inventory', lending_browse_path %></li>
  </ul>
<% end %>

<% if can? :manage, :legacy_lending %>
  <h2>Tech Advisors</h2>
  <ul>
    <li><%= link_to 'Open Fabrication Hours intake', open_intake_path %></li>
    <li><%= link_to 'NVBots live feed', nvbots_path %></li>
  </ul>
<% end %>

<% if can? :read, :lending_shift_schedule %>
  <h2>Schedule and hours</h2>
  <ul>
    <li><strong><%= link_to 'Shift schedule', lending_schedule_shifts_path %></strong></li>
    <li><%= link_to 'Laser Cutters (A5B)', schedule_path(room: 'A5B') %></li>
    <li><%= link_to 'Wood Shop (A30/A31)', schedule_path(room: 'A30') %></li>
  </ul>
<% elsif user_signed_in? %>
  <h2>Hours</h2>
  <ul>
    <li><strong><%= link_to 'Lending Desk (A29)', schedule_path(room: 'A29') %></strong></li>
    <li><%= link_to 'Laser Cutters (A5B)', schedule_path(room: 'A5B') %></li>
    <li><%= link_to 'Wood Shop (A30/A31)', schedule_path(room: 'A30') %></li>
  </ul>
<% end %>

<% if user_signed_in? and current_user.has_role? :superadmin %>
  <hr>
  <h2>Development</h2>
  <ul>
    <% if can? :manage, Item %>
      <li><%= link_to 'Manage items', items_path %></li>
    <% elsif can? :read, Item %>
      <li><%= link_to 'List available items', items_path %></li>
    <% end %>
    <% if can? :read, PrintRequest %>
    <li>3D print request form
      <ul>
        <li><%= link_to 'Dimension 1200sst', print_requests_path %></li>
        <li>For other 3D printers, see the <%= link_to '3D printers page', 'https://resources.ideate.cmu.edu/equipment/3d-printers/' %> of the IDeATe Resources website.</li>
      </ul>
    </li>
    <% end %>
  </ul>
<% end %>
