<p>
  Welcome to the IDeATe Quartermaster!
</p>

<ul>
  <li>3D print request form
    <ul>
      <li><%= link_to 'Dimension 1200sst', print_requests_path %></li>
      <li>For other 3D printers, see the <%= link_to '3D printers page', 'https://resources.ideate.cmu.edu/equipment/3d-printers/' %> of the IDeATe Resources website.</li>
    </ul>
  </li>
  <li>Feeds and speeds lookup
    <ul>
      <li><%= link_to 'Laser cutter settings', laser_settings_path %></li>
      <li><%= link_to 'CNC router settings', cnc_settings_path %></li>
    </ul>
  </li>
</ul>

<% if can? :manage, :legacy_lending %>
  <%= render template: 'legacy_lending/index' %>
<% end %>
