<p>
  Welcome to the IDeATe Quartermaster!
  <% if not user_signed_in? %>
    <strong>Log in to get started.</strong>
  <% end %>
</p>

<% if user_signed_in? and cannot? :manage, :legacy_lending %>
  <p>
    To renew IDeATe Lending items online, use the links found in your most recent email receipt.
  </p>
<% end %>

<% if can? :manage, :legacy_lending %>
  <h2>Lending Operators
  <div class="btn-group" role="group">
    <%= link_to 'Access the Lending Application', lending_path, role: 'button', class: 'btn btn-primary' %>
    <%= link_to 'Lend item', lending_lend_path, role: 'button', class: 'btn btn-default' %>
    <%= link_to 'Return item', lending_return_path, role: 'button', class: 'btn btn-default' %>
  </div>
  </h2>
<% end %>

<% if can? :manage, :legacy_lending %>
  <h2>Tech Advisors</h2>
  <ul>
    <%= nav_link 'Open Fabrication Hours intake', open_intake_path %>
    <%= nav_link 'Ultimaker print form', open_print_ultimaker_path %>
  </ul>
<% end %>

<% if can? :read, :lending_shift_schedule %>
  <h2>Schedule and hours</h2>
  <ul>
    <%= nav_link '<strong>Shift schedule</strong>'.html_safe, lending_schedule_shifts_path %>
<% else %>
  <h2>Hours</h2>
  <ul>
    <%= nav_link '<strong>Lending Desk (A29)</strong>'.html_safe, schedule_path(room: 'A29') %>
<% end %>
    <%= nav_link 'Laser Cutters (A5B)', schedule_path(room: 'A5B') %>
    <%= nav_link 'Wood Shop (A30)', schedule_path(room: 'A30') %>
    <%= nav_link 'All IDeATe room schedules', schedule_index_path %>
  </ul>

<h2>Inventory</h2>
<ul>
  <%= nav_link '<strong>IDeATe Lending inventory</strong>'.html_safe, lending_inventory_path %>
  <%= nav_link 'Physical Computing inventory', physcomp_inventory_path %>
</ul>

<h2>Price lists</h2>
<ul>
  <%= nav_link 'Materials price list', sales_pricing_path %>
</ul>

<% if user_signed_in? and current_user.has_role? :superadmin %>
  <hr>
  <h2>Development</h2>
  <ul>
    <% if can? :manage, Item %>
      <li><%= link_to 'Manage items', items_path %></li>
    <% elsif can? :read, Item %>
      <li><%= link_to 'List available items', items_path %></li>
    <% end %>
    <% if can? :read, PrintRequest %>
    <li>3D print request form
      <ul>
        <li><%= link_to 'Dimension 1200sst', print_requests_path %></li>
        <li>For other 3D printers, see the <%= link_to '3D printers page', 'https://resources.ideate.cmu.edu/equipment/3d-printers/' %> of the IDeATe Resources website.</li>
      </ul>
    </li>
    <% end %>
  </ul>
<% end %>
