<p>
  Welcome to the IDeATe Quartermaster!
  <% if not user_signed_in? %>
    <strong>Log in to get started.</strong>
  <% end %>
</p>

<p>
  <% if can? :manage, :legacy_lending %>
  <%= button_to 'Access the Legacy Lending Application', lending_path, method: 'get', class: 'btn btn-primary' %>
  <% end %>
</p>

<ul>
  <% if can? :manage, Item %>
    <li><%= link_to 'Manage items', items_path %></li>
  <% elsif can? :read, Item %>
    <li><%= link_to 'List available items', items_path %></li>
  <% end %>
  <% if can? :read, PrintRequest %>
  <li>3D print request form
    <ul>
      <li><%= link_to 'Dimension 1200sst', print_requests_path %></li>
      <li>For other 3D printers, see the <%= link_to '3D printers page', 'https://resources.ideate.cmu.edu/equipment/3d-printers/' %> of the IDeATe Resources website.</li>
    </ul>
  </li>
  <% end %>
</ul>
