<% if @request.errors.any? %>
  <div id="alert alert-error">
    <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>
    <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%# TODO: Make these Bootstrappy form groups and input groups. %>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th><%= f.label :user, 'Requestor' %>:</th>
      <td><%= current_user.andrewid %></td>
    </tr>
    <tr>
      <th><%= f.label :print_file, 'File' %>:</th>
      <td><%= f.file_field :print_file %></td>
    </tr>
    <%# TODO: Model and support volume can be parsed out of the CMB file. %>
    <tr>
      <th><%= f.label :model_volume, 'Model Volume' %>:</th>
      <td><%= f.text_field :model_volume %> in&sup3;</td>
    </tr>
    <tr>
      <th><%= f.label :support_volume, 'Support Volume' %>:</th>
      <td><%= f.text_field :support_volume %> in&sup3;</td>
    </tr>
    <tr>
      <th><%= f.label :quantity %>:</th>
      <td><%= f.text_field :quantity %></td>
    </tr>
    <tr>
      <th><%= f.label :color %>:</th>
      <td><%= f.text_field :color %></td>
    </tr>
    <tr>
      <th><%= f.label :due_at, 'Desired Completion' %>:</th>
      <td><%= f.datetime_select :due_at, default: 7.days.from_now, start_year: Date.today.year, end_year: Date.today.year + 1, start_hour: 8, end_hour: 22, minute_step: 15, class: 'datepicker' %></td>
    </tr>
    <tr>
      <th><%= f.label :notes %>:</th>
      <td><%= f.text_area :notes %></td>
    </tr>
    <tr>
      <th colspan='2'><%= f.submit button_text, class: 'btn btn-success' %></th>
    </tr
  </table>
</div>
