<%= form_tag lending_card_input_url do %>
  <%= image_tag 'id-card-tilted.png', height: 48, style: 'display: inline-block;' %>
  <% if @card_andrewid.nil? %>
    <%= text_field_tag 'card_input', nil, placeholder: 'Tap ID card to begin transaction...', size: 32, autofocus: true %>
  <% else %>
    <%= text_field_tag 'card_input', nil, placeholder: 'Tap ID card...', size: 32 %>
  <% end %>
  <%= hidden_field_tag 'card_input_redirect_action', redirect_action %>
  <%= submit_tag 'Lookup...', class: 'btn btn-primary' %>
<% end %>

<% unless @card_andrewid.nil? %>
  <h2>
    <%= @card_andrewid %>
    <small><%= @card_name %></small>
    <%= link_to 'Reset', reset_url, class: 'btn btn-default', style: 'display: inline-block;' %>
  </h2>
  <p>
    <em>Copy-and-paste Andrew ID above into form below.</em>
  </p>
  <hr>
<% end %>
