<ul>
  <li>
    Circulation
    <ul>
      <%= nav_link 'Lend', lending_lend_path %>
      <%= nav_link 'Return', lending_return_path %>
      <%= nav_link 'Browse inventory', lending_browse_path %>
    </ul>
  </li>
  <li>
    Purchases
    <ul>
      <%= nav_link 'IDeATe students', lending_student_purchase_path %>
      <%= nav_link 'Course- or Project-funded', lending_course_purchase_path %>
    </ul>
  </li>
  <li>
    <%= link_to 'Reservations', reservations_path %>
    <%= render partial: 'reservations' %>
  </li>
  <%= nav_link 'Shift schedule', lending_schedule_path %>
  <%= nav_link 'NVBots live feed', lending_nvbots_path %>
</ul>
