<ul>
  <li>
  Lending tasks
    <ul>
      <li><%= link_to 'Search Lending', lending_search_path %></li>
      <li><%= link_to 'Lend item', lending_lend_path %></li>
      <li><%= link_to 'Return item', lending_return_path %></li>
      <li><%= link_to 'Lend item for course', lending_course_lend_path %></li>
    </ul>
  </li>
  <li>
  Purchasing tasks
    <ul>
      <li><%= link_to 'Manage student purchases', lending_student_purchase_path %></li>
      <li><%= link_to 'Manage course purchases', lending_course_purchase_path %></li>
      <li><%= link_to 'Manage Cube cartridges', lending_cube_cartridge_path %></li>
    </ul>
  </li>
</ul>
