<div class="row">

  <div class="col col-md-8">

    <ul>
      <li>
        Circulation
        <ul>
          <%= nav_link 'Prepare items', lending_prepare_path %>
          <%= nav_link '<strong>Lend items</strong>'.html_safe, lending_lend_path %>
          <%= nav_link 'Return items', lending_return_path %>
          <%= nav_link 'Course reserves', lending_reserves_path %>
          <%= nav_link 'Inventory', lending_inventory_path %>
          <%= nav_link 'Available software', 'https://resources.ideate.cmu.edu/computing/software/', target: '_blank' %>
        </ul>
      </li>
      <li>
        <%= link_to 'Sales', sales_path %>
        <%= render partial: 'sales' %>
      </li>
      <li>
        Schedules
        <ul>
          <%= nav_link 'Shift schedule', lending_schedule_shifts_path %>
          <%= nav_link 'Course delivery schedule', lending_schedule_deliveries_path %>
          <%= nav_link 'All IDeATe room schedules', schedule_index_path %>
        </ul>
      </li>
    </ul>

  </div>
  <div class="col col-md-4">
    <%= render partial: 'sidebar_calendar' %>
  </div>

</div>
