<div id="policy" class="panel panel-danger">
  <div class="panel-heading">
    <strong>DO NOT use this form without admin approval.</strong>
  </div>
  <div class="panel-body">
    <%= image_tag 'covid.svg', height: 17, style: 'display: inline-block;' %>
    This page only marks items as <em>prepared</em> for contactless checkout when Lending is closed, as part of Covid-era accommodations, and is generally meant for admin use unless otherwise directed.
    It does NOT check items out to patrons or send them email notifications, and the due dates listed here are fake placeholders.
    <br />
    <strong>Use the <%= link_to 'Lend items', lending_lend_url %> page instead to check out items to patrons.</strong>
  </div>
</div>

<div class="row">
  <div class="col col-md-12">
    <iframe name="item_prepare" src="<%= ENV['ZOHO_ITEM_PREPARE_URL'] %>?renew_nonce=<%= '%06d' % SecureRandom.random_number(1000000) %>&sig_post=<%= current_user.andrewid %>" width="100%" height="1000px" frameborder="0" scrolling="auto" allowTransparency='true'></iframe>
  </div>
</div>
