<div id="policy" class="panel panel-danger">
  <div class="panel-heading">
    <%= image_tag 'covid.svg', height: 17, style: 'display: inline-block;' %>
    <strong>Covid policy:</strong> Only use this form with admin approval.
  </div>
  <div class="panel-body">
    <b class="text-danger">Do NOT lend directly to patrons.</b>
    Use the <%= link_to 'Prepare items', lending_prepare_url %> page instead to prepare items for checkout.
  </div>
</div>

<div class="row">
  <div class="col <%= @card_andrewid.nil? ? "col-md-8" : "col-md-12" %>">
    <%= render partial: 'scan_input', locals: { card_input_only: true, redirect_action: 'item_lend', reset_url: lending_lend_url } %>
  </div>
  <% if @card_andrewid.nil? %>
    <div class="col col-md-4">
      <%= render partial: 'sidebar_calendar' %>
    </div>
  <% end %>
</div>

<% unless @card_andrewid.nil? %>
  <div class="row">
    <div class="col col-md-12">
      <iframe name="item_lend" src="<%= ENV['ZOHO_ITEM_LEND_URL'] %>?renew_nonce=<%= '%06d' % SecureRandom.random_number(1000000) %>&aid_post=<%= @card_andrewid %>&sig_post=<%= current_user.andrewid %>" width="100%" height="1000px" frameborder="0" scrolling="auto"></iframe>
    </div>
  </div>
<% end %>
