<div class="row">
  <div class="col col-md-12">
    <p>
      Online renewals can be made 24/7, beginning as early as the day before an item's due date.  The "Renewals" column indicates the number of remaining online renewal requests available for this transaction.
      <b class="text-danger">Late items cannot be renewed.</b>  Additionally, reserves or holds on items may prevent renewal, even if remaining renewals are indicated (in this case, the original due date still applies).
      Please review the <%= link_to 'IDeATe Lending Borrower Policy', 'https://resources.ideate.cmu.edu/lending/borrower-policy/', target: '_blank' %> for more details.
    </p>
    <p>
      <b class="text-warning">Note that this form only renews a single item.</b>  If you have additional items to renew, please use the individual links from your most recent email receipt to renew those items separately.  If you have further questions or concerns,
      please email <%= link_to 'help@ideate.cmu.edu', 'mailto:help@ideate.cmu.edu', target: '_blank' %>
      for a response within normal business hours.
    </p>
  </div>
</div>

<div class="row">
  <div class="col col-md-12">
    <iframe src="<%= ENV['ZOHO_ITEM_RENEW_URL'] %>?andrew_id=<%= current_user.andrewid %>&tx_id=<%= @tx_id %>&renew_key=<%= @renew_key %>" width="100%" height="500px" frameborder="0" scrolling="auto"></iframe>
  </div>
</div>
