<div class="row">
  <div class="col <%= @card_andrewid.nil? ? "col-md-8" : "col-md-12" %>">
    <%= render partial: 'card_input', locals: { redirect_action: 'item_lend', reset_url: lending_lend_url } %>
    <%= render partial: 'app_upgrades' %>
  </div>
  <% if @card_andrewid.nil? %>
    <div class="col col-md-4">
      <%= render partial: 'sidebar_calendar' %>
    </div>
  <% end %>
</div>

<% unless @card_andrewid.nil? %>
  <div class="row">
    <div class="col col-md-12">
      <iframe src="<%= ENV['ZOHO_ITEM_LEND_URL'] %>?renew_nonce=<%= '%06d' % SecureRandom.random_number(1000000) %>&co_aid_post=<%= @card_andrewid %>&sig_post=<%= current_user.andrewid %>" width="100%" height="1000px" frameborder="0" scrolling="auto"></iframe>
    </div>
  </div>
<% end %>
