<p>
IDeATe students are able to purchase various consumable materials
(such as plywood and acrylic) from the
<%= link_to 'IDeATe Lending Desk', 'https://resources.ideate.cmu.edu/lending/', target: '_blank' %>
in Hunt A29.
This offers students the convenience of having quick access to materials to use
the same day in their projects.
<strong>Check our <%= link_to 'current hours', schedule_path(room: 'A29') %>.</strong>
</p>

<p>
Please note, this resource is primarily stocked to accommodate the needs of
IDeATe students in IDeATe classes, and <strong>is not a storefront.</strong>
Charges are submitted to
<%= link_to 'student accounts', 'https://www.cmu.edu/sfs/billing/', target: '_blank' %>
on a regular basis and will appear on statements as “IDeATe materials fee.”
<strong>IDeATe does not accept Oracle strings, cash, or any other payment form for
individual consumable material sale.</strong>
For those wishing to obtain material for projects outside of IDeATe classes,
please visit the
<%= link_to 'CMU Art Store', 'https://bookstore.web.cmu.edu/SiteText.aspx?id=46971', target: '_blank' %>
for individual Oracle string or cash purchase requests.
The CMU Art Store carries many similar flat stock items, including acrylic.
</p>

<p>
CMU faculty or staff with questions about purchases should contact
<%= link_to 'help@ideate.cmu.edu', 'mailto:help@ideate.cmu.edu', target: '_blank' %>.
Interested students can learn about <%= link_to 'how to join the IDeATe community', 'https://resources.ideate.cmu.edu/', target: '_blank' %>.
</p>

<p>
<strong>Prices are reviewed and updated semi-annually based on actual costs.</strong>
Not all sizes and colors are available at all times.
Current prices for commonly-available items are listed below:
</p>



<iframe src="https://creator.zohopublic.com/cmuideate/lending/view-embed/IN_STOCK_CONSUMABLES/PWBR9nxzOjSDrMhpWpdUAbsOdf0kMT7WRzgnCuDq36E9aE1JOnd9qk0jf3KKZQqzn44qOFXWhb6utCmUqzg61Bu4pP2jms9a4N3m" width="100%" height="700px" frameborder="0" scrolling="auto"></iframe>
