<div id="policy" class="panel panel-warning">
  <div class="panel-heading">
    <span class="text-danger"><u>ONLY</u> the listed accounts</span> have arranged with IDeATe to fund materials purchases and are authorized for use.
  </div>
  <div class="panel-body">
    <ul>
      <li>
        All course-funded accounts and Oracle string purchases <b><u>MUST</u></b> be pre-arranged.  Direct inquiries to help@ideate.cmu.edu to make arrangements.  Turnaround time is 1&ndash;2 business days.
      </li>
      <li>
        If a course/project isn't in the dropdown, <b class="text-warning">it has not arranged</b> to fund materials purchases.  Either do a (paid) <%= link_to 'student purchase', sales_student_url %> or <b class="text-danger">DON'T SELL.</b>
      </li>
      <li>
        <b class="text-danger">Do <u>NOT</u> accept Oracle strings</b> for <b><u>ANY</u></b> reason.
      </li>
    </ul>
    The Art Store in the lower level of the CUC is equipped to accept Oracle strings at the point of sale.
  </div>
</div>

<hr>

<div class="row">
  <div class="col <%= @card_andrewid.nil? ? "col-md-8" : "col-md-12" %>">
    <%= render partial: 'legacy_lending/scan_input', locals: { card_input_only: true, redirect_action: 'sale_course', reset_url: sales_course_url } %>
  </div>
  <% if @card_andrewid.nil? %>
    <div class="col col-md-4">
      <%= render partial: 'sidebar_calendar' %>
    </div>
  <% end %>
</div>

<% unless @card_andrewid.nil? %>
  <div class="row">
    <div class="col col-md-12">
      <iframe src="<%= ENV['ZOHO_SALE_COURSE_URL'] %>?aid_post=<%= @card_andrewid %>&sig_post=<%= current_user.andrewid %>" width="100%" height="1000px" frameborder="0" scrolling="auto" allowTransparency='true'></iframe>
    </div>
  </div>
<% end %>
