<%= render 'legacy_lending/navigation' %>

<%= form_tag 'card_input' do %>
  <%= text_field_tag 'card_input', nil, placeholder: 'Tap ID card to begin transaction...', size: 50, autofocus: true %>
  <%= hidden_field_tag 'card_input_redirect', 'student_purchase' %>
  <%= submit_tag 'Lookup...', class: 'btn btn-default' %>
<% end %>

<h2>
  <%= @card_andrewid %>
  <small><%= @card_name %></small>
</h2>

<% unless @card_andrewid.nil? %>
  <hr>
  <iframe src="https://creator.zohopublic.com/zoho_pzali/ideate/view-embed/USER_CHARGES1/UHFRprpK36sUXd9s2ByTx6Ry1sfw2wrxTaxyMU0HVUC9EYWtkeOyBhxdWYvRj05dqDjTeM1OE35pDAQ32ZdAx4XUx11kj5NMNXRY/" name="formEmbed-Test_Form" width="100%" height="1000px" frameborder="0" scrolling="auto"></iframe>
<% end %>
