<nav class="navbar navbar-default <%= "navbar-inverse" unless Rails.env.production? %>">
  <div class="container">

    <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand" do %>
        IDeATe Quartermaster
        <% if Rails.env.development? %>
          <div class="label label-warning">Dev</div>
        <% elsif Rails.env.staging? %>
          <div class="label label-info">Staging</div>
        <% end %>
      <% end %>
    </div>

    <ul class="nav navbar-nav">

      <% if can? :manage, :legacy_lending %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            Circulation <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <%= nav_link 'Prepare items', lending_prepare_path %>
            <%= nav_link 'Lend items', lending_lend_path %>
            <%= nav_link 'Return items', lending_return_path %>
            <li role="separator" class="divider"></li>
            <%= nav_link 'Course reserves', lending_reserves_path %>
            <li role="separator" class="divider"></li>
            <%= nav_link 'Lending inventory', lending_inventory_path %>
            <%= nav_link 'Available software', 'https://resources.ideate.cmu.edu/computing/software/', target: '_blank' %>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            Sales <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Sales</li>
            <%= nav_link 'Sell to IDeATe student', sales_student_path %>
            <%= nav_link 'Sell to course- or project-funded account', sales_course_path %>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Returns</li>
            <%= nav_link 'Return from IDeATe student', sales_student_return_path %>
            <%= nav_link 'Return from course- or project-funded account', sales_course_return_path %>
            <li role="separator" class="divider"></li>
            <%= nav_link 'Materials price list', sales_pricing_path() %>
          </ul>
        </li>
      <% end %>

      <% if (can? :read, :inventory) or (can? :make, :resource_requests) %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            Resources <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% if can? :read, :inventory %>
              <li class="dropdown-header">Inventory</li>
              <%= nav_link 'Lending inventory', lending_inventory_path %>
              <%= nav_link 'Physical Computing inventory', physcomp_inventory_path %>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Price lists</li>
              <%= nav_link 'Materials price list', sales_pricing_path() %>
              <li role="separator" class="divider"></li>
            <% end %>
            <% if can? :make, :resource_requests %>
              <li class="dropdown-header">Request forms</li>
              <%= nav_link 'Lending request', request_lending_path %>
              <%= nav_link 'Physical Computing Lab materials stock', request_physcomp_path %>
              <%= nav_link 'Student course purchase (authorized courses only)', request_purchase_path %>
              <%= nav_link 'Room/equipment resources', request_resource_path %>
            <% end %>
          </ul>
        </li>
      <% end %>

      <% if user_signed_in? %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            Schedules <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% if (can? :manage, :legacy_lending) or (can? :read, :lending_shift_schedule) %>
              <li class="dropdown-header">Lending schedules</li>
              <% if can? :read, :lending_shift_schedule %>
                <%= nav_link 'Shift schedule', lending_schedule_shifts_path %>
              <% end %>
              <% if can? :manage, :legacy_lending %>
                <%= nav_link 'Course delivery schedule', lending_schedule_deliveries_path %>
              <% end %>
            <li role="separator" class="divider"></li>
            <% end %>

            <li class="dropdown-header">Facilities hours</li>
            <% if cannot? :read, :lending_shift_schedule %>
              <%= nav_link 'Lending Desk (A29)', schedule_path(room: 'A29') %>
            <% end %>
            <%= nav_link 'Laser Cutters (A5B)', schedule_path(room: 'A5B') %>
            <%= nav_link 'Wood Shop (A30)', schedule_path(room: 'A30') %>

            <% if can? :read, :reservation %>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Classrooms</li>
              <%= nav_link 'Classroom (A4)', schedule_path(room: 'A4') %>
              <%= nav_link 'Fabrication Lab (A5)', schedule_path(room: 'A5') %>
              <%= nav_link 'Media Lab (A10A)', schedule_path(room: 'A10A') %>
              <%= nav_link 'Physical Computing (A10)', schedule_path(room: 'A10') %>
              <%= nav_link 'Soft Technologies Studio (A31)', schedule_path(room: 'A31') %>
              <%= nav_link 'IDeATe Studio A (106B)', schedule_path(room: '106B') %>
              <%= nav_link 'IDeATe Studio B (106C)', schedule_path(room: '106C') %>
           <% end %>
          </ul>
        </li>
      <% end %>

      <% if can? :manage, :tech_advisor %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Tech Advisors
          <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <%= nav_link 'Open Fabrication Hours intake', open_intake_path %>
            <%= nav_link 'Ultimaker print form', open_print_ultimaker_path %>
          </ul>
        </li>
      <% end %>

      <% if user_signed_in? and current_user.has_role? :superadmin %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Development
          <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% if can? :read, Item %>
            <li>
              <%= link_to 'Items', items_path %>
            </li>
            <% end %>
            <% if can? :read, PrintRequest %>
            <li>
              <%= link_to 'Print', print_requests_path %>
            </li>
            <% end %>
          </ul>
        </li>
      <% end %>

    </ul>


    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%= image_tag current_user.gravatar_url, alt: '', role: 'icon' %>
          <%= current_user.andrewid %>
          <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to destroy_user_session_path, :method => 'delete', :id => 'log_out' do %>
                <span class="glyphicon glyphicon-log-out"></span> Logout
              <% end %>
            </li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header"><%= app_version %></li>
          </ul>
        </li>
      <% else %>
        <li>
          <% if ENV['RAILS_ENV'] == 'development' %>
            <%= link_to new_user_session_path, :id => 'log_in' do %>
              <span class="glyphicon glyphicon-log-in"></span> Login
            <% end %>
          <% else %>
            <%= link_to user_shibboleth_omniauth_authorize_path, :id => 'log_in' do %>
              <span class="glyphicon glyphicon-log-in"></span> Login
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>

  </div>
</nav>
